.row {
    display: table;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    width: 100%;
}

.cell {
    width: 100%;
    display: block;
}

.cell {
    width: 8%;
    display: table-cell;
    height: 75px;
}

.template-ib1t {
    width: 400px;
}

.template-i50j {
    width: 400px;
}

.label {
    font-size: 15px;
    color: #000000;
}