<h2 class="screen-align">Addtypes</h2>
<div id="template-isiv" class="row">
    <div id="template-ib1t" class="cell">
        <label id="template-i9tw" class="label">Name</label>
        <input id="template-is65" [(ngModel)]="types.name" [ngModelOptions]="{standalone: true}"
        class="input form-control" />
        <button id="template-imqo" (click)="GpCreate()" class="button btn btn-primary">Create</button>
    </div>
    <div id="template-i50j" class="cell">
        <label id="template-irvl" class="label">Description</label>
        <input id="template-iu72" [(ngModel)]="types.description"
        [ngModelOptions]="{standalone: true}" class="input form-control" />
    </div>
</div>