<h2 class="screen-align">Addseverity</h2>
<div id="template-igig" class="row">
    <div id="template-isiv" class="cell">
        <label id="template-i8fe" class="label">Name</label>
        <input id="template-i92h" [(ngModel)]="severity.name" [ngModelOptions]="{standalone: true}"
        class="input form-control" />
        <button id="template-i0u2" (click)="GpCreate()" class="button btn btn-primary">Create</button>
    </div>
    <div id="template-izyi" class="cell">
        <label id="template-ir9y" class="label">Description</label>
        <input id="template-ibqj" [(ngModel)]="severity.description"
        [ngModelOptions]="{standalone: true}" class="input form-control" />
    </div>
</div>